/**/

.header > .container {
	border-width:1px;
	border-style:solid;
}
.header ul > li {
	float:left;
	
	
}
/*
.nav > .container {
	background-color:green;
}
*/

.nav {
	position:sticky;
    top:0px;
	z-index:100;
}

table > .pvtUi {
	margin-right: 2.5rem;
}

table {
	max-width:100%;
}